* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-image: url("../images/WallpaperDog-485943.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 700px;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Perpetua;
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

header h1 {
  position: absolute;
  width: 400px;
  margin: 0 auto;
  top: 450px;
  left: 500px;

}



p {
    font-size: 20px;
    margin-left: 80px;
    margin-right: 500px;
    line-height: 2.3;
    margin-bottom: 70px;
    margin-top: 50px;
}

li{
    margin: 30px 0;
    margin-left: 100px;
  }


a {
    text-decoration:none;
}

.navbar {
    margin-top: 30px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  } */

  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
h3 {
    margin-left: 70px;
    font-size: 26px;
}
